@keyframes girar{
    from{ transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes aparecer {
    from{opacity: 0; transform: translateY(20px);}
    to{opacity: 1; transform: translateY(0);}
}
@keyframes largo{
    0% {transform: scaleX(1);}
    50%{transform: scaleX(1.4);}
    100%{transform: scaleX(1);}
}
@keyframes zoom{
    0% {transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}

html{
    scroll-behavior: smooth;
}

#fondo1{
    margin: auto;
    background-color:#FFFFB0;
    padding-top: 120px;
}

.barranav{
    background-color: rgb(211, 235, 161);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 25px;
    margin-bottom: 30px;
 

    position:fixed;
    top: 0px;
    right: 9px;
    left: 9px;
    z-index: 100;
}

.barraLinks{
    display: flex;
    gap: 150px;
    align-items: center;
}

.barraLinks a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.logo{
    padding-right: 30px;
}

.fila{
    display: flex;
}

.columna{
    width: 500px;
    min-width: 520px;
    max-width: 600px;
}

.Titulo{
    background-color: #ffd2d5;
    width: 130%;
    border-radius: 50px;
    margin-left: 20px;
    font-family: 'Barrio', cursive;
    box-shadow: 8px 8px 8px rgba(68, 68, 68, 0.3);
    flex-direction: column;
    align-items: center;
    padding: 1px;
    opacity: 0;
    transform: translateY(-20px);
    animation: aparecer 1s ease forwards;
}

#Titulo{
    font-size: 130px;
    text-align:  center;
    color: white;
    text-shadow: 0 4px 4px rgba(134, 133, 133, 0.3);
}

.Manos{
    align-items: flex-start;
    width: 35%;
    min-width: 300px;
    padding-bottom: 5%;
    opacity: 0;
    transform: translateY(-20px);
    animation: aparecer 1s ease forwards;
}
#InicioImg{
    position:absolute;
    height: auto;
    width: 90%;
    max-width: 480px;
    display: block;
    border-radius: 500% 500% 0% 0%;
    bottom: 10%;
    left: 62%;
}

#ParrafoI {
    width: 130%;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 10px;
    padding-top: 20px;
    text-align: center;
    color: #3b3b3b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0;
    transform: translateY(-20px);
    animation: aparecer 1s ease forwards;
} 

.deco1inicio{
    position: absolute;
    z-index: 8;
    bottom: 60%;
    right: 88%;
    width: 170px;
    height: 150px;
    animation: zoom 3s ease-in-out infinite;
}

.deco2inicio{
    position: absolute;
    z-index: 8;
    top: 78%;
    left: 47%;
    width: 140px;
    height: 120px;
    animation: zoom 3s ease-in-out infinite;
}
.deco3inicio{
    position: absolute;
    z-index: 8;
    top: 190px;
    left: 59%;
    width: 120px;
    animation: zoom 3s ease-in-out infinite;
}
.deco4inicio{
    position: absolute;
    z-index: 8;
    top: 92%;
    left: 86%;
    width: 140px;
    animation: girar 20s linear infinite;
}

/*Página 2*/

#fondo2{
    margin: auto;
    position: relative;
    background-color:#fdf3dd;
}

.filaA,.filaB{
    margin: auto;
    display: flex;
    gap: 50px;
    padding:20px 50px 20px 50px;
    justify-content: center;
}

.caja1,.caja2,.caja3,.caja4{
    margin: auto;
    width: 40%;
    height: 300px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 6px 6px rgba(134, 133, 133, 0.3);
    transition: all 0.4s ease;
    position: relative;

}

.caja1:hover,.caja2:hover,.caja3:hover,.caja4:hover{
    transform: scale(1.05);
}

.caja1{
    background-color: #CAAACD;
}
.caja2{
    background-color: #D6E8F7;
}
.caja3{
    background-color: #BFDC80;
}
.caja4{
    background-color: #F1DFB6;
}

.texto{
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: left;
    padding-left: 10px;
}

.TextVL{
    margin: auto;
    padding-bottom: 35px;
    text-shadow: 0 3px 3px rgba(34, 34, 34, 0.3);
}

.BtnMas{
    margin: auto;
    background-color:#5b5e5548;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    transition: box-shadow 0.3s ease;
}

.BtnMas:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.Btn{
    margin: auto;
    padding-bottom: 30px;
}

.ImgIn{
    margin: auto;
    width: 200px;
    height: 250px;
    border-radius: 15px;
}

#imgCuatroflores{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 80%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 30%;
    transform-origin: center;
    transition: transform 0.4s ease;
}

#imgFlor{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 30%;
    transform-origin: center;
    transition: transform 0.4s ease;
}

#imgPestaña{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    left: 100%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    transform-origin: center;
    transition: transform 0.4s ease;
}

#imgRulo{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 50%;
    right: 75%;
    transform: translate(-50%, -50%);
    width: 30%;
    transform-origin: center;
    transition: transform 0.4s ease;
}

#imgEstrellas{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 90%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 35%;
    transform-origin: center;
    transition: transform 0.4s ease;
}

#imgRayitas{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    bottom: 48%;
    left: 8%;
    transform: translate(-50%, -50%);
    width: 40%;
    transform-origin: center;
    transition: transform 0.4s ease;
}

#imgCarita{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 80%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 35%;
    transform-origin: center;
    transition: transform 0.4s ease;
}

#imgEstrella{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    bottom: 60%;
    left: 94%;
    transform: translate(-50%, -50%);
    width: 25%;
    transform-origin: center;
    transition: transform 0.4s ease;
}

#imgAsterisco{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 30%;
    right: 18%;
    transform: translate(-50%, -50%);
    width: 25%;
    transform-origin: center;
    transition: transform 0.4s ease;
}

/*Página 3*/
#fondo3{
    margin: auto;
    background-color: #fbd6ff;
    padding: 10px;
}

.tituloC{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    position: relative;
    text-shadow: 0 4px 4px rgba(134, 133, 133, 0.3);
}

.parrafoC{
    text-align: center;
    color: #3b3b3b;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 30px;
    padding-left: 200px;
    padding-right: 200px;
}

.galeriaNovedades{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    gap: 25px;
}

.novedadesImg{
    width: 300px;
    height: 500px;
    border-radius: 50px;
    right: 300px;
}

.descripNovedades{
    text-align: center;
    color:#3b3b3b;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 30px;
    padding-left: 10px;
    margin-bottom: 40px;
}

.deco1NV{
    margin: 0 auto;
    position:absolute;
    z-index: 1;
    top: 255%;
    left: 36%;
    transform: translate(-50%, -50%);
    width: 11%;
    height: auto;
}
.deco2NV{
    margin: 0 auto;
    position:absolute;
    left: 63%;
    top: 256%;
    transform: translate(-50%, -50%);
    width: 9%;
    height: auto;
}

/*Fondo 4*/

#fondo4{
    margin: auto;
    background-color: #e7ffb1;
    padding-left: 90px;
    padding-top: 10px;
    display: flex;
    align-items: center;

}

h2{
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 18px;
}

.parrafoD {
    margin: auto;
    color: white;
    background-color: #bfd68f;
    width:700px;
    height: 500px;
    border-radius: 50px;
    margin: 40px 40px 40px 80px;
    padding: 10px  40px 70px 40px;
    
}

.parrafo{
    font-size: 19px;
    text-align:center;
    margin: auto;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0 5px 4px rgba(5, 5, 5, 0.3);
}
.parrafoNosotros{
    margin: auto;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    text-shadow: 0 5px 5px rgba(134, 133, 133, 0.3);
}
.decorativa1{
    margin: 0 auto;
    position: relative;
    width: 180px;
    height: 180px;
    top: 100px;
    left: 260px;
}

@media (prefers-reduced-motion: reduce){
    img.decorativa2{
    animation-duration: 0.001ms !important;
    animation-iteration-count:1 !important;;
    }
    img.decorativa3{
    animation-duration: 0.001ms !important;
    animation-iteration-count:1 !important;;
    }
    img.decorativa4{
    animation-duration: 0.001ms !important;
    animation-iteration-count:1 !important;;
    }

}
.decorativa2{
    margin: 0 auto;
    position: relative;
    top:150px;
    left: 280px;
    width: 120px;
    height: 120px;
    animation: girar 7s linear infinite;
}
.decorativa3{
    margin: 0 auto;
    position: relative;
    top: 20px;
    right: 350px;
    animation: girar 7s linear infinite;

}
.decorativa4{
    margin: 0 auto;
    position: relative;
    bottom: 10px;
    left: 90px;
    width: 100px;
    height: 100px;
    animation: girar 7s linear infinite;

}


@media(prefers-reduced-motion: reduce){
    img.decorativa5{
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
    }
}
.decorativa5{
    margin: 0  auto;
    position: relative;
    bottom:150px;
    left: 180px;
    width: 200px;
    height: 200px;
    animation: largo 8s ease-in-out infinite;
    display: block;
}

.decorativa7{
    margin: 0 auto;
    position: relative;
    bottom: 5%;
    left: 65%;
    width: 220px;
    height: 60px;
}

.decorativa8{
    margin: 0 auto;
    position: relative;
    bottom: 105%;
    left: 38%;
    width: 128px;
    height: 110px;
}


@media(prefers-reduced-motion: reduce){
    img.decorativa9{
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
    }
}
.decorativa9{
    margin: 0 auto;
    position: relative;
    bottom: 1%;
    right: 78%;
    width: 80px;
    height: 80px;
    animation: zoom 2s ease-in-out infinite;

}
/* --------------------------------------------------------------------------------------------------------------------------------------- */
@media(min-width: 1500px){
    html{
    scroll-behavior: smooth;
}

/*Página 1*/
#fondo1{
    margin: auto;
    background-color:#FFFFB0;
    padding-top: 120px;
}

.barranav{
    background-color: rgb(211, 235, 161);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 25px;
    margin-bottom: 30px;
 

    position:fixed;
    top: 0px;
    right: 9px;
    left: 9px;
    z-index: 100;
}

.barraLinks{
    display: flex;
    gap: 150px;
    align-items: center;
}

.barraLinks a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.logo{
    padding-right: 30px;
}

.fila{
    display: flex;

.columna{
    width: 500px;
    min-width: 520px;
    max-width: 900px;
}
.Titulo {
    background-color: #ffd2d5;
    width: 130%;
    border-radius: 50px;
    font-family: 'Barrio', cursive;
    box-shadow: 8px 8px 8px rgba(68, 68, 68, 0.3);
    flex-direction: column;
    align-items: center;
    padding: 1px;
    opacity: 0;
    transform: translateY(-20px);
    animation: aparecer 1s ease forwards;
}

#Titulo{
    font-size: 130px;
    text-align:  center;
    color: white;
    text-shadow: 0 4px 4px rgba(134, 133, 133, 0.3);
}

#ParrafoI{
    font-size: 20px;
    width: 130%;
    padding-left: 4%;
    padding-top: 10%;
    text-align: center;
    color: #3b3b3b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: 0;
    transform: translateY(-20px);
    animation: aparecer 1s ease forwards;
}

.Manos{
    align-items: flex-start;
    width: 35%;
    min-width: 300px;
    padding-bottom: 5%;
    opacity: 0;
    transform: translateY(-20px);
    animation: aparecer 1s ease forwards;
}


#InicioImg{
    height: auto;
    width: 100%;
    max-width: 500px;
    display: block;
    border-radius: 500% 500% 0% 0%;
}


.deco1inicio{
    position: absolute;
    bottom: 60%;
    right: 88%;
    width: 180px;
    height: 160px;
    z-index: 1px;
}

.deco2inicio{
    position: absolute;
    top: 76%;
    left: 46%;
    width: 160px;
    height: 140px;
    animation: zoom 2s ease-in-out infinite;

}

.deco3inicio{
    position: absolute;
    left: 59%;
    width: 160px;
    animation: zoom 2s ease-in-out infinite;
}

.deco4inicio{
    margin: 0 auto;
    position: absolute;
    top: 110%;
    left: 87%;
    animation: girar 4s linear infinite;

}
    .columna{
        width: 500px;
        min-width: 520px;
        max-width: 900px;
    }
    .Titulo {
        background-color: #ffd2d5;
        width: 130%;
        border-radius: 50px;
        font-family: 'Barrio', cursive;
        box-shadow: 8px 8px 8px rgba(68, 68, 68, 0.3);
        flex-direction: column;
        align-items: center;
    }
    #Titulo {
        font-size: 140px; 
    }
    #ParrafoI {
        width: 130%;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
    }
    #InicioImg{
        position:absolute;
        height: auto;
        width: 90%;
        max-width: 480px;
        display: block;
        border-radius: 500% 500% 0% 0%;
        bottom: 1%;
        top: 10%;
        left: 62%;
    }
    .filaA, .filaB, .galeriaNovedades{
        gap: 5%;
        padding-left: 8%;
        padding-right: 8%;
    }
    .barranav{
        padding-left: 8%;
        padding-right: 8%;
    }
    .parrafoD{
        width: 60%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 120%;
    }
    .parrafoNosotros{
        font-size: 400%;
    }
    .deco1inicio{
        position: absolute;
        bottom: 65%;
        right: 88%;
        width: 180px;
        height: 160px;
    }
    .deco2inicio{
        position: absolute;
        top: 75%;
        left: 46%;
        width: 160px;
        height: 140px;
    }
    .deco3inicio{
        position: absolute;
        left: 59%;
        width: 160px;
    }
    .deco4inicio{
        position: absolute;
        top: 92%;
        left: 87%;
    }

    .deco2inicio{
        position: absolute;
        z-index: 8;
        top: 75%;
        left: 48%;
        width: 160px;
        height: 140px;
    }

    .deco3inicio{
        position: absolute;
        z-index: 8;
        left: 59%;
        width: 160px;
    }

    .deco4inicio{
        position: absolute;
        z-index: 8;
        top: 92%;
        left: 87%;
    }

#fondo2{
    margin: auto;
    position: relative;
    background-color:#fdf3dd;
}

.filaA,.filaB{
    margin: auto;
    display: flex;
    gap: 50px;
    padding:20px 50px 20px 50px;
    justify-content: center;
}

.caja1,.caja2,.caja3,.caja4{
    margin: auto;
    width: 40%;
    height: 300px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 6px 6px rgba(134, 133, 133, 0.3);
    transition: all 0.4s ease;
}

.caja1:hover,.caja2:hover,.caja3:hover,.caja4:hover{
    transform: scale(1.05);
}

.caja1{
    background-color: #CAAACD;
}
.caja2{
    background-color: #D6E8F7;
}
.caja3{
    background-color: #BFDC80;
}
.caja4{
    background-color: #F1DFB6;
}

.texto{
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: left;
    padding-left: 10px;
}

.TextVL{
    margin: auto;
    padding-bottom: 35px;
    text-shadow: 0 3px 3px rgba(34, 34, 34, 0.3);
}

.BtnMas{
    margin: auto;
    background-color:#5b5e5548;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    transition: box-shadow 0.3s ease;
}

.BtnMas:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.Btn{
    margin: auto;
    padding-bottom: 30px;
}

.ImgIn{
    margin: auto;
    width: 200px;
    height: 250px;
    border-radius: 15px;
}

#imgCuatroflores{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 80%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#imgFlor{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 60%;
    left: 78%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#imgPestaña{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    left: 94%;
    bottom: 75%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#imgRulo{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 67%;
    right: 80%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#imgEstrellas{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 93%;
    left: 93%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#imgRayitas{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    bottom: 75%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#imgCarita{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 37%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#imgEstrella{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    bottom: 77%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 11%;
}

#imgAsterisco{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 30%;
    right: 9%;
    transform: translate(-50%, -50%);
    width: 13%;
}


#fondo3{
    margin: auto;
    background-color: #fbd6ff;
    padding: 10px;
}

.tituloC{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    position: relative;
    text-shadow: 0 4px 4px rgba(134, 133, 133, 0.3);
}

.parrafoC{
    text-align: center;
    color: #3b3b3b;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 30px;
    padding-left: 200px;
    padding-right: 200px;
}

.galeriaNovedades{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    gap: 25px;
}

.novedadesImg{
    width: 300px;
    height: 500px;
    border-radius: 50px;
    right: 300px;
}

.descripNovedades{
    text-align: center;
    color:#3b3b3b;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 30px;
    padding-left: 10px;
    margin-bottom: 40px;
}

.deco1NV{
    margin: 0 auto;
    position:absolute;
    z-index: 1;
    top: 255%;
    left: 36%;
    transform: translate(-50%, -50%);
    width: 11%;
    height: auto;
}
.deco2NV{
    margin: 0 auto;
    position:absolute;
    left: 63%;
    top: 256%;
    transform: translate(-50%, -50%);
    width: 9%;
    height: auto;
}



#fondo4{
    margin: auto;
    background-color: #e7ffb1;
    padding-left: 90px;
    padding-top: 10px;
    display: flex;
    align-items: center;

}

h2{
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 18px;
}

.parrafoD {
    margin: auto;
    color: white;
    background-color: #bfd68f;
    width:700px;
    height: 500px;
    border-radius: 50px;
    margin: 40px 40px 40px 80px;
    padding: 10px  40px 70px 40px;
    
}

.parrafo{
    font-size: 19px;
    text-align:center;
    margin: auto;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0 5px 4px rgba(5, 5, 5, 0.3);
}
.parrafoNosotros{
    margin: auto;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    text-shadow: 0 5px 5px rgba(134, 133, 133, 0.3);
}
.decorativa1{
    margin: 0 auto;
    position: relative;
    width: 180px;
    height: 180px;
    top: 100px;
    left: 260px;
}

@media (prefers-reduced-motion: reduce){
    img.decorativa2{
    animation-duration: 0.001ms !important;
    animation-iteration-count:1 !important;;
    }
    img.decorativa3{
    animation-duration: 0.001ms !important;
    animation-iteration-count:1 !important;;
    }
    img.decorativa4{
    animation-duration: 0.001ms !important;
    animation-iteration-count:1 !important;;
    }

}
.decorativa2{
    margin: 0 auto;
    position: relative;
    top:150px;
    left: 280px;
    width: 120px;
    height: 120px;
    animation: girar 4s linear infinite;
}
.decorativa3{
    margin: 0 auto;
    position: relative;
    top: 20px;
    right: 350px;
    animation: girar 4s linear infinite;

}
.decorativa4{
    margin: 0 auto;
    position: relative;
    bottom:150px;
    left: 90px;
    width: 100px;
    height: 100px;
    animation: girar 4s linear infinite;

}


@media(prefers-reduced-motion: reduce){
    img.decorativa5{
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
    }
}
.decorativa5{
    margin: 0  auto;
    position: relative;
    bottom:60px;
    left: 230px;
    width: 250px;
    height: 250px;
    animation: largo 5s ease-in-out infinite;
    display: block;
}

.decorativa7{
    margin: 0 auto;
    position: relative;
    bottom: 5%;
    left: 65%;
    width: 220px;
    height: 60px;
}

.decorativa8{
    margin: 0 auto;
    position: relative;
    bottom: 105%;
    left: 38%;
    width: 128px;
    height: 110px;
}


@media(prefers-reduced-motion: reduce){
    img.decorativa9{
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
    }
}
.decorativa9{
    margin: 0 auto;
    position: relative;
    bottom: 1%;
    right: 78%;
    width: 80px;
    height: 80px;
    animation: zoom 2s ease-in-out infinite;

}

@media(min-width: 1500px){
    html{
    scroll-behavior: smooth;
}

.Manos{
    align-items: flex-start;
    width: 35%;
    margin-left: 40px;
    min-width: 300px;
    padding-bottom: 5%;
    opacity: 0;
    transform: translateY(-20px);
    animation: aparecer 1s ease forwards;
}

#fondo1{
    margin: auto;
    background-color:#FFFFB0;
    padding-top: 120px;
}

.barranav{
    background-color: rgb(211, 235, 161);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 25px;
    margin-bottom: 30px;
 

    position:fixed;
    top: 0px;
    right: 9px;
    left: 9px;
    z-index: 100;
}

.barraLinks{
    display: flex;
    gap: 150px;
    align-items: center;
}

.barraLinks a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.logo{
    padding-right: 30px;
}

.fila{
    display: flex;
}
.DescripcionI{
    margin-left: 65px;
}
.columna{
    width: 500px;
    min-width: 520px;
    max-width: 600px;
}

.Titulo{
    background-color: #ffd2d5;
    width: 130%;
    border-radius: 50px;
    margin-left: 20px;
    font-family: 'Barrio', cursive;
    box-shadow: 8px 8px 8px rgba(68, 68, 68, 0.3);
    flex-direction: column;
    align-items: center;
    padding: 1px;
    margin-left: 60px;
}
#Titulo {
    font-size: 140px; 
}
#ParrafoI {
    width: 130%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}
#InicioImg{
    position:absolute;
    height: auto;
    width: 90%;
    max-width: 480px;
    display: block;
    border-radius: 500% 500% 0% 0%;
    bottom: 1%;
    top: 10%;
    left: 62%;
}
.filaA, .filaB, .galeriaNovedades{
    gap: 5%;
    padding-left: 8%;
    padding-right: 8%;
}
.barranav{
    padding-left: 8%;
    padding-right: 8%;
}
.parrafoD{
    width: 60%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 120%;
}
.parrafoNosotros{
    font-size: 400%;
}
.deco1inicio{
    position: absolute;
    bottom: 65%;
    right: 88%;
    width: 180px;
    height: 160px;
}
.deco2inicio{
    position: absolute;
    z-index: 8;
    top: 75%;
    left: 48%;
    width: 160px;
    height: 140px;
}
.deco3inicio{
    position: absolute;
    z-index: 8;
    left: 59%;
    width: 160px;
}
.deco4inicio{
    position: absolute;
    z-index: 8;
    top: 92%;
    left: 87%;
}

#fondo2{
    margin: auto;
    position: relative;
    background-color:#fdf3dd;
}

.filaA,.filaB{
    margin: auto;
    display: flex;
    gap: 50px;
    padding:20px 50px 20px 50px;
    justify-content: center;
}

.caja1,.caja2,.caja3,.caja4{
    margin: auto;
    width: 40%;
    height: 300px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 6px 6px rgba(134, 133, 133, 0.3);
    transition: all 0.3s ease;
}

.caja1:hover,.caja2:hover,.caja3:hover,.caja4:hover{
    transform: scale(1.1)
}

.caja1{
    margin: auto;
    background-color: #CAAACD;
}
.caja2{
    margin: auto;
    background-color: #D6E8F7;
}
.caja3{
    margin: auto;
    background-color: #BFDC80;
}
.caja4{
    margin: auto;
    background-color: #F1DFB6;
}

.texto{
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: left;
    padding-left: 10px;
}

.TextVL{
    margin: auto;
    padding-bottom: 35px;
    text-shadow: 0 3px 3px rgba(34, 34, 34, 0.3);
}

.BtnMas{
    margin: auto;
    background-color:#5b5e5548;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    transition: box-shadow 0.3s ease;
}

.BtnMas:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.Btn{
    margin: auto;
    padding-bottom: 30px;
}

.ImgIn{
    margin: auto;
    width: 200px;
    height: 250px;
    border-radius: 15px;
}

#imgCuatroflores{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 80%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#imgFlor{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 60%;
    left: 78%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#imgPestaña{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    left: 94%;
    bottom: 75%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#imgRulo{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 67%;
    right: 80%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#imgEstrellas{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 93%;
    left: 93%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#imgRayitas{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    bottom: 75%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#imgCarita{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 37%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: 15%;
}

#imgEstrella{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    bottom: 77%;
    left: 30%;
    transform: translate(-50%, -50%);
    width: 11%;
}

#imgAsterisco{
    margin: 0 auto;
    position: absolute;
    z-index: 4;
    top: 30%;
    right: 9%;
    transform: translate(-50%, -50%);
    width: 13%;
}
#fondo3{
    margin: auto;
    background-color: #fbd6ff;
    padding: 10px;
}

.tituloC{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    position: relative;
    text-shadow: 0 4px 4px rgba(134, 133, 133, 0.3);
}

.parrafoC{
    text-align: center;
    color: #3b3b3b;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 30px;
    padding-left: 200px;
    padding-right: 200px;
}

.galeriaNovedades{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    gap: 25px;
}

.novedadesImg{
    width: 300px;
    height: 500px;
    border-radius: 50px;
    right: 300px;
}

.descripNovedades{
    text-align: center;
    color:#3b3b3b;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 30px;
    padding-left: 10px;
    margin-bottom: 40px;
}

.deco1NV{
    margin: 0 auto;
    position:absolute;
    z-index: 1;
    top: 255%;
    left: 36%;
    transform: translate(-50%, -50%);
    width: 11%;
    height: auto;
}
.deco2NV{
    margin: 0 auto;
    position:absolute;
    left: 63%;
    top: 256%;
    transform: translate(-50%, -50%);
    width: 9%;
    height: auto;
}
#fondo4{
    margin: auto;
    background-color: #e7ffb1;
    padding-left: 90px;
    padding-top: 10px;
    display: flex;
    align-items: center;

}

h2{
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 18px;
}

.parrafoD {
    margin: auto;
    color: white;
    background-color: #bfd68f;
    width:700px;
    height: 500px;
    border-radius: 50px;
    margin: 40px 40px 40px 80px;
    padding: 10px  40px 70px 40px;
    
}

.parrafo{
    font-size: 19px;
    text-align:center;
    margin: auto;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0 5px 4px rgba(5, 5, 5, 0.3);
}
.parrafoNosotros{
    margin: auto;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    text-shadow: 0 5px 5px rgba(134, 133, 133, 0.3);
}
.decorativa1{
    margin: 0 auto;
    position: relative;
    width: 180px;
    height: 180px;
    top: 100px;
    left: 260px;
}
.decorativa2{
    margin: 0 auto;
    position: relative;
    top:150px;
    left: 280px;
    width: 120px;
    height: 120px;
}
.decorativa3{
    margin: 0 auto;
    position: relative;
    top: 20px;
    right: 350px;
}
.decorativa4{
    margin: 0 auto;
    position: relative;
    bottom:150px;
    left: 90px;
    width: 100px;
    height: 100px;
}
.decorativa5{
    margin: 0  auto;
    position: relative;
    bottom:60px;
    left: 230px;
    width: 250px;
    height: 250px;
}
.decorativa7{
    margin: 0 auto;
    position: relative;
    bottom: 5%;
    left: 65%;
    width: 220px;
    height: 60px;
}
.decorativa8{
    margin: 0 auto;
    position: relative;
    bottom: 105%;
    left: 38%;
    width: 128px;
    height: 110px;
}
.decorativa9{
    margin: 0 auto;
    position: relative;
    bottom: 1%;
    right: 78%;
    width: 80px;
    height: 80px;
}
}
}
}

/* Animación Noticias */
.animar-secuencia{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.4s ease-out;
}
.animar-secuencia.visible{
    opacity: 1;
    transform: translateY(0);
}
/* Animación Inicio */
.animar-rebote{
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    z-index: 3;
}
.animar-rebote.visible-rebote{
    opacity: 1;
    transform: scale(1);
}