/*Página 1*/
#fondo1{
    margin: auto;
    background-color:#FFFFB0;
    padding-top: 120px;
}

.barranav{
    background-color: rgb(211, 235, 161);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 25px;
    margin-bottom: 30px;
 

    position:fixed;
    top: 0px;
    right: 9px;
    left: 9px;
    z-index: 100;
}

.barraLinks{
    display: flex;
    gap: 150px;
    align-items: center;
}

.barraLinks a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.logo{
    padding-right: 30px;
}

.fila{
    display: flex;
}

.columna{
    display:grid;
    margin-bottom: 50px;
}

.Titulo{
    background-color: #ffd2d5;
    width:700px;
    height: 400px;
    border-radius: 50px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    margin-left: 50px ;
    font-family: 'Barrio', cursive;
}

#Titulo{
    font-size: 130px;
    text-align:  center;
    color: white;
    text-shadow: 0 4px 4px rgba(134, 133, 133, 0.3);
}

#ParrafoI{
    font-size: 20px;
    width: 700px;
    margin-left: 10px ;
    padding-top: 50px;
    text-align: center;
    color: #3b3b3b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Manos{
    margin: auto;
    margin-bottom: 60px;
}

#InicioImg{
    width: auto;
    height: 600px;
    border-radius: 500px 500px 0px 0px;
}

.deco1inicio{
    position: absolute;
    bottom: 470px;
    right: 1030px;
    width: 180px;
    height: 160px;
}

.deco2inicio{
    position: absolute;
    padding-top: 300px;
    padding-left: 600px;
    width: 160px;
    height: 140px;
}

.deco3inicio{
    position: absolute;
    padding-left: 930px;
}

.deco4inicio{
    position: absolute;
    padding-top: 470px;
    padding-left: 1030px;
}

/*Página 2*/

#fondo2{
    position: relative;
    background-color:#fdf3dd;
}

.filaA,.filaB{
    display: flex;
    gap: 50px;
    padding:20px 50px 20px 50px;
    justify-content: center;
}

.caja1,.caja2,.caja3,.caja4{
    width: 40%;
    height: 300px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.caja1{
    background-color: #CAAACD;
}
.caja2{
    background-color: #D6E8F7;
}
.caja3{
    background-color: #BFDC80;
}
.caja4{
    background-color: #F1DFB6;
}

.texto{
    font-size: 20px;
    color: white;
    text-align: left;
    padding-left: 10px;
}

.TextVL{
    padding-bottom: 35px;
    text-shadow: 0 3px 3px rgba(34, 34, 34, 0.3);
}

.BtnMas{
    background-color:#5b5e5548;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.Btn{
    padding-bottom: 30px;
}

.ImgIn{
    width: 200px;
    height: 250px;
    border-radius: 15px;
}

#imgCuatroflores{
    margin: auto;
    position: absolute;
    z-index: 4;
    top: 500px;
    left: 540px;
}

#imgFlor{
    margin: auto;
    position: absolute;
    z-index: 4;
    top: 375px;
    left: 910px;
}

#imgPestaña{
    margin: auto;
    position: absolute;
    z-index: 4;
    right: 20px;
    bottom: 650px;
}

#imgRulo{
    margin: auto;
    position: absolute;
    z-index: 4;
    top: 480px;
    left: 11px;
}

#imgEstrellas{
    margin: auto;
    position: absolute;
    z-index: 4;
    top: 635px;
    right: 20px;
}

#imgRayitas{
    margin: auto;
    position: absolute;
    z-index: 4;
    bottom: 640px;
    left: 60px;
}

#imgCarita{
    margin: auto;
    position: absolute;
    z-index: 4;
    top: 170px;
    left: 520px;
}

#imgEstrella{
    margin: auto;
    position: absolute;
    z-index: 4;
    bottom: 635px;
    left: 360px;
}

#imgAsterisco{
    margin: auto;
    position: absolute;
    z-index: 4;
    top: 160px;
    right: 250px;
}

/*Página 3*/
.fondoC{
    margin: auto;
    background-color: #fbd6ff;
    padding: 10px;
}

.tituloC{
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 2;
    position: relative;
    text-shadow: 0 4px 4px rgba(134, 133, 133, 0.3);
}

.parrafoC{
    text-align: center;
    color: #3b3b3b;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 30px;
    padding-left: 200px;
    padding-right: 200px;
}

.galeriaNovedades{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    gap: 25px;
}

.novedadesImg{
    width: 300px;
    height: 500px;
    border-radius: 50px;
    right: 300px;
}

.descripNovedades{
    text-align: center;
    color:#3b3b3b;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 30px;
    padding-left: 10px;
    margin-bottom: 40px;
}

.deco1NV{
    position:absolute;
    margin: auto;
    left: 425px;
    z-index: 1;
    top: 1565px;
    width: 145px;
    height: 145px;
}
.deco2NV{
    position:absolute;
    margin: auto;
    left: 795px;
    top: 1605px;
}

/*Fondo 4*/

.fondoD {
    background-color: #e7ffb1;
    padding-left: 90px;
    padding-top: 10px;
    display: flex;
    align-items: center;

}

h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h3{
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 18px;
}

.parrafoD {
    color: white;
    background-color: #bfd68f;
    width:700px;
    height: 500px;
    border-radius: 50px;
    margin: 40px 40px 40px 80px;
    padding: 10px  40px 70px 40px;
    
}

.parrafo{
    font-size: 19px;
    text-align:center;
    margin: auto;
    margin-top: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.parrafoNosotros{
    margin: auto;
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    text-shadow: 0 5px 5px rgba(134, 133, 133, 0.3);
}
.decorativa1{
    margin: auto;
    position: relative;
    width: 180px;
    height: 180px;
    top: 100px;
    left: 260px;
}
.decorativa2{
    margin: auto;
    position: relative;
    top:150px;
    left: 280px;
    width: 120px;
    height: 120px;
}
.decorativa3{
    margin: auto;
    position: relative;
    top: 20px;
    right: 350px;
}
.decorativa4{
    margin: auto;
    position: relative;
    bottom:150px;
    left: 90px;
    width: 100px;
    height: 100px;
}
.decorativa5{
    margin: auto;
    position: relative;
    bottom:60px;
    left: 230px;
    width: 250px;
    height: 250px;
}
.decorativa7{
    margin: auto;
    position: relative;
    bottom: 30px;
    left: 300px;
    width: 220px;
    height: 60px;
}
.decorativa8{
    margin: auto;
    position: relative;
    bottom: 530px;
    left: 180px;
    width: 128px;
    height: 110px;
}
.decorativa9{
    margin: auto;
    position: relative;
    bottom:5px;
    right: 380px;
    width: 80px;
    height: 80px;
}


