body{
    background-color: #e3ffa7;
}

h1{
    margin: 0 auto;
    color: #788d4b;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    margin-bottom: 1%;
    font-size: 48px;
    font-weight: 900;
    opacity: 0;
    transform: translateY(-20px);
    animation: aparecer 1s ease forwards;
}

.Direccion{
    margin: 0 auto;
    color: #788d4b;
    font-style: italic;
    text-align: center;
    opacity: 0;
    animation: aparecer 1s ease forwards;
    animation-delay: 0.3s;
}

.flecha{
    margin: 0 auto;
    position: absolute;
    left: 82%;
    bottom: 69%;
    transform: translate(-50%, -50%);
    width: 9%;
    opacity: 0;
    animation: aparecer 1s ease forwards 0.4s, mover 3.5s ease-in-out infinite alternate;
    animation-delay: 0.4s;
}

@keyframes aparecer {
    to { opacity: 1; 
        transform:  translateY(0);
    }
}
@keyframes mover {
    0% {transform: translateX(0) translateY(0);}
    50% {transform: translateX(5px) translateY(5px);}
    100% {transform: translateX(-5px) translateY(10px);}
}

.ImgMerendero3{
    margin: 0 auto;
    position: absolute;
    left: 17%;
    width: 65%;
    height: 72%;
    top: 22%;
    border-radius: 7%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: aparecer 1s ease;
}

@keyframes aparecer {
    from{opacity: 0; transform: translateY(20px);}
    to{opacity: 1; transform: translateY(0);}
}

button{
    margin: 0 auto;
    background-color: white;
    border-radius: 30px;
    height: 40px;
    width: 100px;
    border: #677b3b solid ;
    color: #788d4b;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.A,.B,.C,.D{
    margin: 0 auto;
    border-radius: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    box-sizing: border-box;
    font-size: 20px;
}

.tituloCirc{
    margin: 0 auto;
    font-family: 'Bebas Neue', sans-serif;
    top: 30%;
    font-size: 25px;
}

.A{
    width: 40%;
    height: 84%;
    right: 50%;
    top: 135%;
    z-index: 1;
    text-align: left;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}
.B{
    width: 25%;
    height: 54%;
    right: 73%;
    top: 101%;
    z-index: 3;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}
.C{
    width: 40%;
    height: 84%;
    left: 58%;
    top: 101%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

.D{
    width: 25%;
    height: 54%;
    left: 50%;
    top: 165%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    padding-top: 3%;
}

.A{
    background-color: #92b24e;
}
.B{
    background-color:#677b3b;
}
.C{
    background-color:#92b24e;
}
.D{
    background-color:#677b3b;
}

.infoAdicional{
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
}

.iconoResponsables{
    margin: 0 auto;
    position: absolute;
    padding-left: 10.8%;
    width: 6.5%;
    height: 13%;
    padding-top: 41%;
    z-index: 3;
}

.iconoHorarios{
    margin: 0  auto;
    position: absolute;
    padding-left: 25.8%;
    width: 7%;
    height: 14%;
    padding-top: 62%;
    z-index: 2;
}

.iconoNecesitan{
    margin: 0 auto;
    position: absolute;
    padding-left: 72.3%;
    width: 9%;
    height: 14%;
    padding-top: 43%;
}

.iconoContacto{
    margin: 0 auto;
    position: absolute;
    padding-left: 58%;
    width: 7%;
    height: 13%;
    padding-top: 72%;
}


.AImg,.BImg{
    margin: 0 auto;
    width: 600px;
    height: 640px;
    margin-top: 99%;
    margin-left: 4%;
    margin-right: 4%;
    border: 10px solid #5a6e2e;
}

.Fila{
    display: flex;
}

.Parrafo{
    margin: 0 auto;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #3b3b3b;
    margin-top: 4%;
}

.CImg, .DImg{
    margin: 0 auto;
    width: 600px;
    height: 640px;
    margin-top: 4%;
    margin-left: 4%;
    margin-right: 4%;
    border: 10px solid #5a6e2e;
}
