body{
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 230, 252);
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
}

.caja{
    background-color: white;
    width: 400%;
    border-radius: 5%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: auto;
    cursor: pointer;
    position: relative;
    padding: 8%;
}