body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 230, 252);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2%;
    overflow-y: auto;
}

.caja{
    background-color: white;
    width: 90%;
    border-radius: 5%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    padding: 8%;
    transition: all 0.8s ease;
}

.cajita{
    text-align: center;
    background-color: rgb(255, 183, 90);
    color: white;
    font-size: 200%;
    padding: 5%;
}

.formulario{
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0 3%;
    transition: all 0.8s ease;
}

.caja:hover{
    width: 90vw;
    max-width: 55%;
}

.caja:hover .formulario{
    opacity: 1;
    max-height: 200%;
    padding: 40px 60px;
}

.filaA, .filaB{
    display: flex;
    gap: 3%;
    flex-wrap: wrap;

}

input, select, textarea{
    width: 100%;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 4%;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    outline: none;
    background: transparent;
    resize: none;
}

.opciones label{
    display: block;
    margin-bottom: 6px;
    font-size: 15px;
}

button{
    background-color: #ff7ae2;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5%;
    padding: 2%;
    font-size: 95%;
}



