body{
    background-color: #f3d3f6;
}

h1{
    color: #b165b8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px 0px 0px;
    margin-bottom: 5px;
    font-size: 45px;
}

.direccion{
    color: #b165b8;
    font-style:italic;
    text-align: center;
}

.imgmerendero1{
    width: 830px;
    height: 480px;
    padding-left: 250px;
    padding-right: 250px;
}

.A, .B, .C, .D{
    border-radius: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: left;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
}

.tituloCirc{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.A{
    width: 550px;
    height: 550px;
    right: 700px;
    top: 850px;
}

.B{
    width: 350px;
    height: 350px;
    right: 950px;
    top: 700px;
}

.C{
    width: 550px;
    height: 550px;
    left: 750px;
    top: 700px;
}

.D{
    width: 350px;
    height: 350px;
    left: 650px;
    top: 1050px;
}

.circ1{ background-color: #b165b8;}
.circ2{ background-color: #df73e8;}
.circ3{ background-color: #b165b8;}
.circ4{ background-color: #df73e8;}
