body{
    background-color: #f3d3f6;
}

h1{
    color: #b165b8;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    padding: 10px 0px 0px 0px;
    margin-bottom: 5px;
    font-size: 45px;
}

.direccion{
    color: #b165b8;
    font-style:italic;
    text-align: center;
}

.imgmerendero1{
    width: 830px;
    height: 480px;
    padding-left: 250px;
    padding-right: 250px;
}

.A, .B, .C, .D{
    border-radius: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 30px;
    box-sizing: border-box;
    font-size: 20px;
}

.tituloCirc{
    font-family:'Bebas Neue', sans-serif;
    padding-top: 30px;
}

.A{
    width: 550px;
    height: 550px;
    right: 700px;
    top: 850px;
    z-index: 1;
}

.B{
    width: 350px;
    height: 350px;
    right: 950px;
    top: 650px;
    z-index: 3;
}

.C{
    width: 550px;
    height: 550px;
    left: 750px;
    top: 650px;
}

.D{
    width: 350px;
    height: 350px;
    left: 650px;
    top: 1050px;
}

.circ1{ background-color: #df73e8;}
.circ2{ background-color: #b165b8;}
.circ3{ background-color: #df73e8;}
.circ4{ background-color: #b165b8;}

.iconoResponsables{
    position: absolute;
    padding-left: 168px;
    width: 100px;
    height: 90px;
    padding-top: 60px;
    z-index: 3;
}

.iconoHorarios{
    position: relative;
    padding-left: 318px;
    width: 100px;
    height: 90px;
    padding-top: 325px;
    z-index: 2;
}
