body{
    background-color: yellowgreen;
}

h1{
    color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 45px;
}

.Direccion{
    color: bisque;
    font-style: italic;
    text-align: center;
}

.ImgMerendero3{
    width: 830px;
    height: 480px;
    padding-left: 250px;
    padding-right: 250px;
}