.fondoA{
    background-color:#FFFFB0;
}
/*Barra de navegacion*/
.barranav{
    background-color: rgb(211, 235, 161);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
    margin: 10px;
}

.logo{
    text-align: center;
}

.barraLinks{
    display: flex;
    gap: 150px;
    align-items: center;
}

.barraLinks a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*Titulo*/

.fila{
    display: flex;
    gap: 150px;
    padding: 0px 10px 0px 10px;
}

.Titulo .DescripcionI {
    display: flex;
    max-width: 800;
    padding: 5px;
}

.Titulo{
    background-color: #ffd2d5;
    max-height: 400px;
    width: 800;
    border-radius: 50px;
    margin: 5px;
}

#Titulo{
    font-size:120px;
    text-align: center;
    color: white;
font-family: 'Barrio', cursive;
}
/*Imagen de inicio*/

.Manos{
    padding: 5px 50px 0px 0px;
    margin: 5px;
}

.ImagenI{
    height: 570px;
    width: 380px;
    border-radius: 500px 500px 0px 0px;
}

/*Parrafo de inicio*/

#ParrafoI{
    text-align: left;
    font-size: 25px;
}
 /*Parte dos*/

.fondoB{
    background-color:#fdf3dd;
    
}

.caja1{
    background-color:#caaacd;
    height: 200px;
    width: 650px;
    border-radius: 50px;
}

.caja2{
    background-color:#d6e8f7;
    height: 200px;
    width: 650px;
    border-radius: 50px;
}

.caja3{
    background-color:#bfdc80;
    height: 200px;
    width: 650px;
    border-radius: 50px;
}

.caja4{
    background-color:#f1bfb6;
    height: 200px;
    width: 650px;
    border-radius: 50px;
}

.filaA{
    display: flex;

}

.filaB{
    display: flex;
    
}
