.fondoA{
    background-color:#FFFFB0;
}
/*Barra de navegacion*/
.barranav{
    background-color: rgb(211, 235, 161);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px 10px 50px;
    border-radius: 50px;
    margin: 10px;
}

.logo{
    text-align: center;
}

.barraLinks{
    display: flex;
    gap: 150px;
    align-items: center;
}

.barraLinks a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/*Titulo*/

.fila{
    display: flex;
    gap: 150px;
    padding: 0px 10px 0px 10px;
}

.Titulo .DescripcionI {
    display: flex;
    max-width: 800;
    padding: 5px;
}

.Titulo{
    background-color: #ffd2d5;
    max-height: 400px;
    width: 800;
    border-radius: 50px;
    margin: 5px;
}

#Titulo{
    font-size:120px;
    text-align: center;
    color: white;
font-family: 'Barrio', cursive;
}
/*Imagen de inicio*/

.Manos{
    padding: 5px 50px 0px 0px;
    margin: 5px;
}

.ImagenI{
    height: 570px;
    width: 380px;
    border-radius: 500px 500px 0px 0px;
}

/*Parrafo de inicio*/

#ParrafoI{
    text-align: left;
    font-size: 25px;
}
 /*Parte dos*/

.fondoB{
    background-color:#fdf3dd;
    padding: 20px;
    
}

.caja1{
    background-color:#caaacd;
    height: 250px;
    width: 680px;
    border-radius: 13px;
    margin: 7px;
    padding: 15px;
}

.caja2{
    background-color:#d6e8f7;
    height: 250px;
    width: 680px;
    border-radius: 13px;
    margin: 7px;
    padding: 15px;
}

.caja3{
    background-color:#bfdc80;
    height: 250px;
    width: 680px;
    border-radius: 13px;
    margin: 7px;
    padding: 15px;
}

.caja4{
    background-color:#f1bfb6;
    height: 250px;
    width: 680px;
    border-radius: 13px;
    margin: 7px;
    padding: 15px;
}
.texto h2 {
    font-size: 45px;
    padding-left: 15px;
    margin: 0;
}

.texto h3{
    font-size: 28px;
    padding-left: 15px;
    margin: 15px 0px 25px;
    
}

.filaA,.filaB{
    display: flex;

}

.button{
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 10px;
    margin-top: 78px;
    margin-left: 25px;
    padding: 8px 15px;
    color: white;
    
    
}

.imagen1{
    width: 180px;
    height: auto;
    border-radius: 15px;
}

.imagen2{
    width: 180px;
    height: auto;
    border-radius: 15px;
}

.imagen3{
    width: 180px;
    height: auto;
    border-radius: 15px;
}

.imagen4{
    width: 180px;
    height: auto;
    border-radius: 15px;
}
