h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #B165B8;
    text-align: center;
}
body{
    background-color: #d6e8f7;
}
.direccion{
    color: #d6e8f7;
    text-align: center;
    font-style:italic;
}
.imgmerendero2{
    width: 1150px;
    height: 468px;
    padding-left: 90px;
    padding-right: 60px;
    
}

.info_section {
    display: grid;
    grid-template-columns: 1fr 1fr; /*son dos columnas*/
    gap: 40px;
    padding: 50px;
}

.card{
    background-color: #fff;
    border-radius: 50px 80px 60px 120px;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 8px 15px rgba(0,0,0,0,25);

}


.A, .B ,.C, .D{
    border-radius: 100%;
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.A{
width: 450px;
height: 410px;
right: 600px;
top:900px;
background-color: #DF73E8;
}
.B{
width: 350px;
height: 350px;
right: 900px;
top: 650px;
background-color:#B165B8 ;
}
.C{
width: 550px;
height: 550px;
right: 150px;
top: 650px;
background-color:#B165B8 ; 
}
/*FALTA MODIFICAR .C Y AGREGAR .D*/

/*DIVIDI LA PAGINA EN EL TITULO Y EN PRESENTACION. LO DEJO EN COMENTARIOS PARA QUE NO SE VEA MAL

.Presentación{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}*/