body{
    background-color: #f7e9cb;
}
h1{
    color: #c2a460;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    padding: 10px 0px 0px 0px;
    margin-bottom: 5px;
    font-size: 48px;
    font-weight: 900;
}
.direccion{
    color: #c2a460;
    font-style:italic;
    text-align: center;
}
.A, .B ,.C, .D{
    color: white;
}