body{
    background-color: #f3d3f6;
}

h1{
    color: #b165b8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 40px 0px 5px 0px;
}

h2{
    color: #b165b8;
    font-style:italic;
}